<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <!--    登录界面-->
    <servlet>
        <servlet-name>userlogin</servlet-name>
        <servlet-class>servlet.userlogin</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>userlogin</servlet-name>
        <url-pattern>/userlogin</url-pattern>
    </servlet-mapping>
    <!--    注册界面-->
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>servlet.register</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <!--    修改密码和个人信息-->
    <servlet>
        <servlet-name>changePassword</servlet-name>
        <servlet-class>servlet.changePassword</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>changePassword</servlet-name>
        <url-pattern>/changePassword</url-pattern>
    </servlet-mapping>
    <!--    添加新闻 ？？-->
    <servlet>
        <servlet-name>addnews</servlet-name>
        <servlet-class>servlet.addnews</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>addnews</servlet-name>
        <url-pattern>/addnews</url-pattern>
    </servlet-mapping>
    <!--    发布新闻 ？？-->
    <servlet>
        <servlet-name>pushnew</servlet-name>
        <servlet-class>servlet.pushnew</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>pushnew</servlet-name>
        <url-pattern>/pushnew</url-pattern>
    </servlet-mapping>
    <!--    查看所有新闻 ？？-->
    <servlet>
        <servlet-name>showAllNews</servlet-name>
        <servlet-class>servlet.showAllNews</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>showAllNews</servlet-name>
        <url-pattern>/showAllNews</url-pattern>
    </servlet-mapping>
    <!--    查看所有新闻 ？？-->
    <servlet>
        <servlet-name>SubitmitpushNews</servlet-name>
        <servlet-class>servlet.SubitmitpushNews</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SubitmitpushNews</servlet-name>
        <url-pattern>/SubitmitpushNews</url-pattern>
    </servlet-mapping>

</web-app>